.navbar_container {
    background-color: rgb(4, 3, 6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    width: 6%;
    height: 100vh;
    position: sticky;
    top: 0;
}

.spotify-logo svg {
    color: rgb(29, 185, 84);
}

.git-logo svg {
    color: rgb(155, 155, 155);
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

}

.btn {
    padding: 1rem 0;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 5px solid transparent;
    cursor: pointer;
    transition: 0.2s ease-in;
    color: rgb(155, 155, 155);
    text-decoration: none;


    &:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(24, 24, 24);
        border-left: 5px solid rgb(30, 215, 96);
    }

}

.active {
    color: rgb(255, 255, 255);
    background-color: rgb(24, 24, 24);
    border-left: 5px solid rgb(30, 215, 96);
}

.btn i {
    font-size: 1.35rem;
}

.btn span {
    font-size: 0.9rem;
    font-family: "medium";
}